body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav, 
#menu-check {
    display: none;
}

#menu-check:checked ~ nav {
    display: block;
}

header {
    position: relative;
    background: #525151;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
}

nav {
    position: absolute;
    background: #525151;
    left: 0px;
    font-size: 1rem;
}

nav a {
    display: block;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

@media (min-width: 600px) {
    nav {
        display: block;
        position: static;
    }

    .h-menu {
        display: none;
    }

    nav a {
        display: inline-block;
    }
}