* {
    box-sizing: border-box;
}

body {
    background: #222;
    color: #fff;
}

li {
    display: inline;
}

nav li a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

hr {
    width: 95%;
    margin: auto;
}