body {
    background: #222;
}

.ball {


  transition-property: background;


  transition-duration: 2s;


  height: 50px;


  width: 50px;


  background: red;


  border-radius: 50%;


} 


.ball:hover {


  background: blue;


}